*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: sans-serif;
    /* transition: all 500ms ease-in-out; */
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px){
    .container{
            width: 970px;
        }
}

/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}


/* glopal */


.sec1{
    height: 96vh;
    width: 100%;
    max-width: 100%;
    background-image: url(./bg-12.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 0px 0px 10% 10%; */
}

header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    /* background: #fff; */
    box-sizing: border-box;
    border-radius: 4px;
    /* box-shadow: 0 2px 5px blueviolet; */
}
.logo{
    /* color: #e9fffa; */
    /* height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px; */
    /* background-color: #ccc; */
    text-align: center;
    box-sizing: border-box;
    float: left;
    width: 100px;
    max-width: 100%;
    /* font-weight: 700;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    animation-name: arap;
    animation-duration: 4s;
    /* background-color: red; */
    /* font-family: monospace; */
    /* letter-spacing: 5px; */ 
}
@keyframes arap{
    0% {color: blue;}
    25% {color: rgb(255, 0, 0);}
    50% {color: rgb(200, 255, 80);}
    75%{color: rgb(158, 189, 212);}
    100% {color: rgb(0, 0, 0);}
}

nav{
    float: right;
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 10px 20px ;
    margin: 10px 0;
    display: block;
    color: #fff;
    font-weight: 500;
    /* border: 1px solid #f5c78e; */
    cursor: pointer;
    box-shadow: 0 4px 5px blueviolet;
}
.li-1{
    background-color: #e9fffa;
    color: #000;
}
nav ul li a:hover{
    background-color: #e9fffa;
    color: #000;
    transition: 0.9s;
}
@media (max-width: 1200px) {
    header{
        margin: 20px;
    }
}
@media (max-width: 992px){
    .menu{
        margin: 10px;
        height: 40px;
        width: 40px;
        display: block;
        background-color: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }


    nav{
        display: none;
    }
    
    .menu::before{
            content: '\f0c9';
            font-family: fontAwesome;
            line-height: 40px;
    }
    .menu.active::before{
        content: '\f00d';
    }

    nav.active{
        display: block;
        width: 100%;
        padding-bottom: 50px;
    }
    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }

}

@media (max-width: 767px) {
    .logo{
        height: 8px;
        /* font-size: 30px; */
        height: 50px;
        align-items: center;
    }
}


/* nv-end */
.part2{
    padding-top: 173px;

}
.part2 h6{
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: monospace;
    font-weight: 500;
    padding-bottom: 21px;
}
.part2 h1{
    color: #ffecfe;
    letter-spacing: 1px;
    padding-bottom: 11px;
}
.part2 p{
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    padding-bottom: 26px;
}
.part2 button{
    position: relative;
    display: inline-block;
    padding: 13px 26px;
    background: #06f972d9;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 11px;
    cursor: pointer;
    
}
.part2 button:hover{
    background: rgba(125, 235, 252, 0.824);
    color: black;
    transition: 0.4s;
}

.part2 .button span{
    visibility: hidden;
    background-color: #fff;
    color: rgb(11, 2, 2);
    /* align-items: center; */
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    user-select: none;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    cursor: pointer;
    width: 120px;
}
.part2 .button:hover span{
    visibility: visible;
    transition: 0.9s;
}
@media (max-width: 992px){
    .part2{
        text-align: center;
    }
    .part2 h1{
        font-size: 20px;
        line-height: 34px;
    }
    .part2 p{
        font-size: 13px;
        letter-spacing: 1px;
    }
    .part2 h6{
        font-size: 12px;
        color: #d6dfff;
    }

}


/* end sec1 */

/* sec2 begining  */

.sec2{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(249, 249, 249);

}
.sec2 .container .text h5{
    text-align: center;
    font-weight: 800;
    color: blueviolet;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.sec2 .container .text h2{
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
    padding-bottom: 12px;
}
.sec2 .container .text p{
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 45px;
}

.sec2 .container .all-box{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.sec2 .container .all-box1{
    display: flex;
    justify-content: space-around;
    /* gap: 25px; */
}
.sec2 .container .all-box .box{
    padding: 21px 28px;
    background: #fff;
    box-shadow: 0 0 20px -8px;
}
.sec2 .container .all-box .box i{
    font-size: 50px;
    color: #57b9a2;
    padding-bottom: 7px;
}
.sec2 .container .all-box .box h3{
    font-size: 16px;
    padding-bottom: 14px;
    letter-spacing: 1px;
}
.sec2 .container .all-box .box p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 27px;
}

.sec2 .container .all-box1 .box i{
    font-size: 50px;
    color: #57b9a2;
    padding-bottom: 7px;
}
.sec2 .container .all-box1 .box h3{
    font-size: 16px;
    padding-bottom: 14px;
    letter-spacing: 1px;
}
.sec2 .container .all-box1 .box p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 27px;
}

@media (min-width: 992px) {
    .sec2 .container .all-box .box{
        flex-basis: 30%;
        /* flex-wrap: wrap; */
    }
}
@media (max-width: 992px) {
    .sec2 .container .all-box .box{
        flex-basis: 45%;
        /* flex-wrap: wrap; */
    }
}
@media (max-width: 767px) {
    .sec2 .container .all-box .box{
        flex-basis: 90%;
        flex-direction: column;
        flex-basis: 90%;
        flex-direction: column;
        padding: 20px 11px;
        text-align: center;
    }
    .sec2 .container .all-box .box p{
        font-size: 10px;
    }
    .sec2 .container .all-box .box h3{
        font-size: 16px;
    }
}

/* end sec-2 */
/* start sec3 */

.sec3{
    /* padding-top: 60px; */
    /* padding-bottom: 60px; */
    display: flex;
    /* gap: 35px; */
    /* justify-content: space-evenly; */
    
    
}

.sec3 .qoraal{
    padding-top: 55px;
    background-color: rgb(39 39 245);
    padding-left: 45px;
    width: 58%;
    max-width: 100%;
}
.sec3 .image img{
    max-width: 100%;
}
.sec3 .qoraal h4{
    font-size: 12px;
    font-family: cursive;
    color: #fff;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
.sec3 .qoraal h2{
    padding-bottom: 23px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.sec3 .qoraal .par{
    color: #fff;
    line-height: 18px;
    font-size: 11px;
    font-family: sans-serif;
    padding-bottom: 25px;
}
.sec3 .qoraal p{
    line-height: 18px;
    font-size: 11px;
    color: #fff;
    padding-bottom: 34px;
}
.sec3 .qoraal button{
    padding: 14px 25px;
    border: none;
    border-radius: 7px;
    color: blue;
    font-weight: 700;
    font-family: system-ui;
}
.sec3 .qoraal button:hover{
    background-color: blue;
    color: #fff;
    transition: 0.9s;
    /* transform: translateX(-30% -20%); */
}

@media (max-width: 992px) {
    .sec3{
        /* background-color: none; */
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .sec3 .qoraal{
        max-width: 100%;
        margin-top: -70px;
        width: 100%;
        max-width: 100%;
        
    }

    .sec3 .qoraal h4{
        font-size: 10px;
    }
    .sec3 .qoraal h2{
        line-height: 20px;
        font-size: 16px;
    }
    
    .sec3 .qoraal .par{
        font-size: 10px;
        line-height: 20px;
    }
    .sec3 .qoraal p{
            font-size: 10px;
            line-height: 20px;
    }
    .sec3 .image img{
        max-width: 100%;
        height: 100%;
    }
}
@media (max-width: 767px) {
    .sec3{
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 90%;
    }
    .sec3 .qoraal{
        text-align: left;
        padding-bottom: 47px;
        justify-content: flex-start;
        padding-left: 10px;
        text-align: center;
    }
}

/* end sec3 */

/* start sec4 */

.sec4{
    padding-top: 60px;
    padding-bottom: 60px;
}
.sec4 .container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.sec4 .container .write{
    padding-top: 27px;
}
.sec4 .container .write h4{
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.sec4 .container .write h2{
    font-size: 22px;
    font-weight: 900;
    font-family: sans-serif;
    padding-bottom: 14px;
}
.sec4 .container .write .paar{
    font-size: 13px;
    line-height: 19px;
    font-family: system-ui;
    padding-bottom: 16px;
}
.sec4 .container .write p{
    font-size: 13px;
    line-height: 19px;
    font-family: system-ui;
    padding-bottom: 16px;
}
.sec4 .container .write button{
    padding: 12px 26px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}
.sec4 .container .zwir img{
    width: 518px;
    max-width: 100%;
}

@media (max-width: 992px) {

    .sec4 .container .write h4{
        font-size: 10px;
    }
    .sec4 .container .write h2{
        font-size: 10px;
    }
    .sec4 .container .write .paar{
        font-size: 7px;
    }
    .sec4 .container .write p{
        font-size: 7px;
    }

    .sec4 .container .zwir img{
        max-width: 265px;
        height: 100%;
    }
}
@media (max-width: 767px) {
    .sec4 .container{
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 90%;
    }

    .sec4 .container .write h4{
        font-size: 10px;
    }
    .sec4 .container .write h2{
        font-size: 13px;
    }
    .sec4 .container .write .paar{
        font-size: 9px;
    }
    .sec4 .container .write p{
        font-size: 9px;
    }
    .sec4 .container .zwir img{
        height: 100%;
        width: 305px;
        text-align: center;
        margin-right: 78px;
    }
}

/* end sec4 */
/* star sec5 */

.sec5{
    padding-top: 60px;
    padding-bottom: 60px;
}
.sec5 .main{
    display: flex;
    justify-content: space-around;
    /* gap: 15px; */
    background-color: blue;
}
.sec5 .main .main-1 .woow{
    /* background-color: rgb(3, 3, 181); */
    padding: 114px 137px;
}
.sec5 .main .main-1 .woow h5{
    color: #000;
    padding-bottom: 8px;
    line-height: 16.8px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.sec5 .main .main-1 .woow h2{
    color: #000;
    font-family: system-ui;
    letter-spacing: 1px;
    padding-bottom: 29px;
    font-weight: 900;
}
.sec5 .main .main-1 .woow p{
    font-family: sans-serif;
    font-size: 13px;
    color: #000;
    padding-bottom: 37px;
    line-height: 24px;
}
.sec5 .main .main-1 .woow input{
    padding: 12px 18px;
    border: none;
    background: aqua;
}
.sec5 .main .main-1 .woow button{
    padding: 12px 14px;
    border: navajowhite;
    background: #00ff2bd6;
}

.sec5 .main .main-2 img{
    width: 764px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .sec5 .main .main-1 .woow{
        background-color: rgb(3, 3, 181);
        padding: 91px 83px;
    }
}